---
import BaseLayout from "@layouts/Layout.astro";
import MilkshakeSearch from "@components/MilkshakeSearch.svelte";
import { milkshakeReviews, ratingObj } from "@assets/milkshake-data";
import MilkShakeContainer from "@components/MilkshakeReviewsContainer.svelte";

const lastUpdated = "Mar 20 2023";
const title = "Cookout Milkshake Review";
const meta_description = `Welcome to my cookout milkshake review blog, where I'll be embarking on a delicious journey to try every milkshake on the menu at Cookout!
 As a food enthusiast and a fan of this popular North Carolina based fast-food chain, I've always been curious about the wide variety of 
 flavors and combinations that they offer. From classic flavors like vanilla and chocolate to more unique options 
 like banana pudding and peach cobbler, I'll be tasting and reviewing each milkshake to give you a better idea of what
 to expect. Join me on this tasty adventure as we explore the world of Cookout milkshakes! 
 `;
const ratingNumArr = [-3, -2, -1, 0, 1, 2, 3];
---

<BaseLayout meta_description={meta_description} title={title}>
	<MilkshakeSearch client:idle />
	<div class="">
		<section class="container py-20">
			<div class="flex flex-col">
				<h1 class="font-bold text-3xl mb-4">
					{title}
				</h1>
				<p class="font-light text-neutral-500">
					Last Updated:
					{
						new Date(lastUpdated).toLocaleDateString("en-US", {
							weekday: "long",
							year: "numeric",
							month: "long",
							day: "numeric",
						})
					}
				</p>
				<p class="my-6">{meta_description}</p>
				<a
					href="#milkshake-search-form"
					class="text-left border border-current w-max p-2">Jump To Reviews</a
				>
			</div>
			<article class="mt-10 flex flex-col gap-y-4">
				<hr />
				<div class="flex flex-col gap-y-10">
					<div>
						<p>{milkshakeReviews.length} out of 43 shakes reviewed</p>
						<div class="h-4 bg-gray-200 rounded-full">
							<div
								class="mt-3 bg-primary h-4 text-blue-100 text-center rounded-full"
								style={`width: ${(milkshakeReviews.length / 43) * 100}%`}
							>
							</div>
						</div>
					</div>
					<div>
						<div
						class="mt-3 overflow-hidden shadow sm:rounded-md"
						>
						<p class="bg-primary p-4 sm:px-6 text-gray-50">
							My ratings system is loosely based on the <a
								target="_blank"
								class="underline"
								href="https://guide.michelin.com/th/en/to-the-stars-and-beyond-th"
								>MICHELIN star system</a
							> and ranges from -3 stars to 3 stars as follows:
						</p>
							<ul class="divide-y divide-gray-200">
								{
									ratingNumArr.map((rating) => (
										<li class="p-4 sm:px-6 flex flex-row odd:bg-gray-100 even:bg-white">
											<div class="w-28">{rating} star{rating != 1 && 's'}</div>
											<div class="">{ratingObj[rating]}</div>
										</li>
									))
								}
							</ul>
						</div>
					</div>
				</div>
			</article>
		</section>
		<section class="bg-secondary pt-10 pb-20">
			<div class="container">
				<MilkShakeContainer client:idle />
			</div>
		</section>
	</div>
</BaseLayout>

<style>
	a {
		@apply hover:underline cursor-pointer;
	}
</style>
